@inherits HTMLEditRendererCode
@using Microsoft.AspNetCore.Components.Web

<div id="htmleditor" style="width:100%; height: 100px;"></div>


@code {
    //[Parameter]
    //public HTMLEditModel ComponentModel { get; set; }
    public static RenderFragment Create(HTMLEditModel componentModel) =>@<HTMLEditRenderer ComponentModel=@componentModel />;

// Render raw html. (Note the trick for casting string to MarkupString).
//public static RenderFragment CreateReadOnly(HTMLEditModel componentModel) => @<div>@((MarkupString)componentModel.Value)</div>; // it actually works
}
